*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:'Figtree',sans-serif;
    background-color:hsl(47, 88%, 63%);
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    flex-direction:column;
}
h1{
    font-family:'Figtree',sans-serif;
    color:hsl(47, 88%, 63%);
    margin-bottom:1.5rem;
    margin-top:1.5rem;
    cursor:pointer;
    font-size:1.5rem;
  
}
.illustration{
    width:100%;
    height:auto;
    border-radius:1rem;
}
.card{
   background-color:white;
   border-radius:1rem;
   width:360px;
   padding:1.5rem;
   margin:1rem;
   box-shadow: 8px 8px 0px black;
   border:1px solid black;
}
.greg{
    width:2rem;
    height:2rem;
}
.hooper{
    font-weight:800;
    gap:0.75rem;
    display:flex;
    align-items:center;
}
.learn{
    margin-top:1rem;
    margin-bottom:1rem;
    background-color: hsl(47, 88%, 63%);
    display:inline-block;
    font-weight:bold;
    padding:0.3rem 0.75rem;
    border-radius:0.3rem;
}
.author{
    display:flex;
    align-items:cente;
    gap:0.75rem;
    margin-top:1.5rem;
}
#date{
    font-family:'Figtree',sans-serif;
    font-weight:600;
    font-size:1rem;
}
#description{
    color:hsl(0, 0%, 42%);
    font-family:'Figtree',sans-serif;
}
